fastapi
locust
numpy
pydantic
safetensors
slowapi
sse_starlette
torch
uvicorn
git+https://github.com/huggingface/transformers
accelerate
bitsandbytes
jieba
flask-cors>=6.0.0 # not directly required, pinned by Snyk to avoid a vulnerability