fastapi
locust
numpy
pydantic
safetensors
slowapi
sse_starlette
torch
uvicorn
git+https://github.com/huggingface/transformers
accelerate
bitsandbytes
jieba
starlette>=0.40.0 # not directly required, pinned by Snyk to avoid a vulnerability