transformers>=4.38.0
tqdm
datasets
loralib
colossalai>=0.2.4
torch<2.0.0, >=1.12.1
langchain
tokenizers
fastapi
sse_starlette
wandb
sentencepiece
gpustat
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
